@charset "utf-8";
/* CSS Document */

.circle{
	display: block;
    height: 250px;
    width: 250px;
    line-height: 250px;

    -moz-border-radius: 150px;
    border-radius: 150px;
	
	border: solid #000 6px;
    background-color:#96F;
    color:#000;
    text-align: center;
    font-size: 10em;
	font-family:Arial, Helvetica, sans-serif;
	
	margin-top:0.25em;
}


	